<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Thanksgiving Dinner Diner</title>
</head>
<body>
  <a href="/">Home</a>
  <h1>Here are our foods!</h1>
  <ul>
    <% foods.forEach(function(food) { %>
      <li style="font-size: 16px; margin-bottom: 5px;">
        <b><a href="/foods/<%= food.id %>"><%= food.name %></a></b>
        <span style="font-size: 8px;"><%= food.calories %> Cals</span>
      </li>
    <% }) %>
  </ul>

  <a href="/foods/new">What are you bringing to Thanksgiving?</a>
</body>
</html>
