<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Thanksgiving Dinner Diner</title>
</head>
<body>
  <a href="/foods">Back</a>
  <h1>What are you bringing to the Thanksgiving Dinner Diner?</h1>
  <form action="/foods" method="POST">
    <input style="margin-bottom: 15px; width: 400px; padding: 5px;" type="text" placeholder="Food name" name="name"><br/>
    
    <input style="margin-bottom: 15px; width: 400px; padding: 5px;" type="text" placeholder="Calories" name="calories"><br/>
    
    <input style="margin-bottom: 15px; width: 400px; padding: 5px;" type="text" placeholder="Image URL" name="image"><br/>
    <button type="submit" style="padding: 15px; background: orange; border-radius: 10px;">Add your food</button>
  </form>
</body>
</html>

